.action-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  background-color: rgba(168, 184, 191, 0.8);
}

.action-detail-title {
  font-size: xxx-large;
  font-weight: bold;
  margin: 0;
  height: 10%;
}

.action-detail-description {
  font-size: xx-large;
  font-weight: bold;
  height: 35%;
  text-align: center;
}

.image-and-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 55%;
}

.action-image {
  height: 85%;
  width: 32%;
}

.action-link {
  text-decoration: none;
  font-size: xxx-large;
  color: black;
}

.action-link:hover {
  font-weight: bold;
  text-decoration: underline;
}
