.actions-container {
  width: 70%;
  height: 70%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 5em;
  justify-content: space-between;
}

.actions-container::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 330px) and (max-width: 500px) {
  .actions-container {
    width: 60%;
    height: 10%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
  }
}
