.actions-container {
  width: 70%;
  height: 70%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 5em;
  justify-content: space-between;
}

.actions-container::-webkit-scrollbar {
  display: none;
}
