.chill-log-link {
  height: 20%;
  display: flex;
  align-items: flex-end;
}

.chill-log-title {
  margin: 0;
  color: aliceblue;
  font-size: xxx-large;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
  margin-left: 0.3em;
}

.chill-log-title:hover {
  margin: 0;
  color: black;
  font-size: xxx-large;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
  margin-left: 0.3em;
}

@media screen and (min-width: 330px) and (max-width: 500px) {
  .chill-log-link {
    height: 10%;
  }
}
