.chill-log-link {
  height: 20%;
  display: flex;
  align-items: flex-end;
}

.chill-log-title {
  margin: 0;
  color: aliceblue;
  font-size: xxx-large;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
  margin-left: 0.3em;
}
