.chill-log-container {
  width: 70%;
  padding: 5em;
  overflow-y: scroll;
}

.chill-log-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .chill-log-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
  }
}
