.chill-log-link {
  align-self: flex-end;
  width: 22%;
}

.chill-log-title {
  margin: 0;
  color: aliceblue;
  font-size: xxx-large;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
}
