.detail-nav-bar {
  margin: 0;
  height: 100%;
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.5em;
}

.nav-title {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  font-size: xxx-large;
  color: aliceblue;
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.3em;
  text-decoration: none;
}

@media screen and (min-width: 330px) and (max-width: 500px) {
  .detail-nav-bar {
    height: 50%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: 0;
  }
}
