.main-nav-bar {
  margin: 0;
  height: 100%;
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.5em;
}

.nav-title {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  font-size: xxx-large;
  color: aliceblue;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.3em;
  text-decoration: none;
}

.nav-title:hover {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  font-size: xxx-large;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.3em;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

@media screen and (min-width: 330px) and (max-width: 500px) {
  .main-nav-bar {
    margin: 0;
    height: 40em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
  }
}
