.main-nav-bar {
  margin: 0;
  height: 100%;
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.5em;
}

.nav-title {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  font-size: xxx-large;
  color: aliceblue;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.3em;
  text-decoration: none;
}
